src/main/webapp/WEB-INF/wsdl/myService.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://test.test.com/test_api/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://test.test.com/test_api/">

    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://test.test.com/test_api/">
            <s:element name="Requete">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="type1" type="tns:Type1" />
                        <s:element maxOccurs="1" minOccurs="0" name="type2" type="tns:Type2Request" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Type1">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="Type1Field1" type="s:string" />
                    <s:element maxOccurs="1" minOccurs="0" name="Type1Field2" type="s:string" />
                    <s:element maxOccurs="1" minOccurs="0" name="Type1Field3" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:complexType name="Type2Request">
                <s:sequence>
                    <s:element maxOccurs="1" minOccurs="0" name="Type2Field1" type="s:string" />
                    <s:element maxOccurs="1" minOccurs="0" name="Type2Field2" type="s:string" />
                    <s:element maxOccurs="1" minOccurs="0" name="Type2Field3" type="s:string" />
                </s:sequence>
            </s:complexType>
            <s:element name="Response">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="1" name="Type2ResponseField1" type="s:string" />
                        <s:element maxOccurs="1" minOccurs="0" name="Type2ResponseField2" type="s:string" />
                        <s:element maxOccurs="1" minOccurs="0" name="Type2ResponseField3" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="TestOperationSoapInMessage">
        <wsdl:part element="tns:Requete" name="parameters" />
    </wsdl:message>
    <wsdl:message name="TestOperationSoapOutMessage">
        <wsdl:part element="tns:Response" name="parameters" />
    </wsdl:message>
    <wsdl:portType name="portType">
        <wsdl:operation name="TestOperation">
            <wsdl:input message="tns:TestOperationSoapInMessage" />
            <wsdl:output message="tns:TestOperationSoapOutMessage" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="binding" type="tns:portType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="TestOperation">
            <soap:operation soapAction="http://test.test.com/test_api/TestOperation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Test_Operation_Manager">
        <wsdl:documentation>Random test operation api</wsdl:documentation>
        <wsdl:port binding="tns:binding" name="port">
            <soap:address location="https://test.test.com/test-api.asmx" />
        </wsdl:port>

    </wsdl:service>
</wsdl:definitions>